<div *ngIf="client" class="container">
    <div class="card-style-identity card-style-identity-benef">
        <div class="title-bloc"> CLIENT INFORMATION SHEET </div>
        <mat-card-content class="isp-infos">
            <mat-grid-list cols="5" rowHeight="35px">
                <mat-grid-tile colspan="1" rowspan="2">
            <mat-icon class="mat-icon-person">person_pin</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="2">
                            <table class="table-ben-infos supports">
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Assign client to</th>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p>17 may 2012</p>
                                    </td>
                                    <td align="center">
                                        <p>18 may 2024</p>
                                    </td>
                                    <td align="center">
                                        <p>Helen Ripley</p>
                                    </td>
                                </tr>
                            </table>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="2">
                  <div class="header-logo">
                    <a (click)="goToBeneficiaryLink(client.niss)" class="gipsy-button">
                        <img
                          src="/assets/images/zekaicon.png"
                          alt="homepage" width="180"
                          class="text-logo"/>
                    </a>
                  </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </div>
    <div class="card-style-identity">
        <mat-card-content>
            <mat-grid-list class="benef-infos" cols="12" rowHeight="30px" gutterSize="5px">
                <!--#1 INFOS BENEFICIAIRE-->
                <mat-grid-tile [colspan]="5" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <button class="button-refresh" mat-icon-button matTooltip="Actualiser les données du bénéficiaire">
                <!-- <mat-icon (click)="refresh(client.niss)" class="refresh-icon">refresh</mat-icon> -->
              </button>
                            <span class="example-spacer"></span>
                            <p class="title-benef">PERSONAL INFORMATION</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#2 DERNIERE FORMATION-->
                <mat-grid-tile [colspan]="7" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <p class="title-benef">EDUCATIONAL BACKGROUND</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#3 INFOS BENEFICIAIRE-->
                <mat-grid-tile [colspan]="5" [rowspan]="5">
                    <mat-card>
                        <mat-card-content>
                            <table class="table-ben-infos">
                                <tr>
                                    <td align="right">
                                        <span>Surname</span> & <span>Firstname</span>&nbsp;:
                                    </td>
                                    <td align="left" width="100%">
                                        <span class="label-content"><frontend-text-ellipsis>{{ client.fullName }}</frontend-text-ellipsis></span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>
                                <!-- &nbsp;: -->
                                <tr>
                                    <td align="right" width="50%">
                                        <span>Citizen number</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">89082135423</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Client number</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">7412895</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>
                                <tr>
                                    <td align="right" width="50%">
                                        <span>Nationality</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">Belgian</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                            </table>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <!--#4-->
                <mat-grid-tile [colspan]="7" [rowspan]="5">
                    <mat-card>
                        <mat-card-content>
                            <table class="table-benf-formations">
                                <tr class="tr-benf-formations">
                                    <th class="tx-benf-formations">COURSE</th>
                                    <th class="tx-benf-formations">RESULT</th>
                                    <th class="tx-benf-formations">FROM</th>
                                    <th class="tx-benf-formations">TO</th>
                                </tr>
                                <tr class="tr-benf-formations">
                                    <td class="tx-benf-formations">CESS</td>
                                    <td class="tx-benf-formations">In progress</td>
                                    <td class="tx-benf-formations">12/09/2022</td>
                                    <td class="tx-benf-formations">{{(client.lastFormationEndDate | date:'dd/MM/yyyy') || "-" }}</td>
                                </tr>
                            </table>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <!--#5-->
                <mat-grid-tile [colspan]="5" [rowspan]="5">
                    <mat-card>
                        <mat-card-content>
                            <table class="table-ben-infos">
                                <tr>
                                    <td align="right" width="50%">
                                        <span>Date of birth</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ (client.birthDate | date:'dd/MM/yyyy') || "Néant"}}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Sex</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ client.gender }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Civil status</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ client.civilStatus }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Native language</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span [innerHTML]="client.nativeLanguage" class="label-content"></span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Place of Birth</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">Brussels</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>
                            </table>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <!--#6-->
                <mat-grid-tile [colspan]="7" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <p class="title-benef">LAST WORK EXPERIENCE</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#8-->
                <mat-grid-tile [colspan]="7" [rowspan]="4">
                  <mat-card>
                      <mat-card-content>
                          <table class="table-benf-formations">
                              <tr class="tr-benf-formations">
                                  <th class="tx-benf-formations">FROM</th>
                                  <th class="tx-benf-formations">TO</th>
                                  <th class="tx-benf-formations">POSITION TITLE</th>
                                  <th class="tx-benf-formations">COMPANY</th>
                              </tr>
                              <tr class="tr-benf-formations">
                                <td class="tx-benf-formations">13/09/2018</td>
                                <td class="tx-benf-formations">15/02/2019</td>
                                  <td class="tx-benf-formations">Kitchen helper</td>
                                  <td class="tx-benf-formations">Lunch garden</td>
                              </tr>
                          </table>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>

                              <!--#7-->
                              <mat-grid-tile [colspan]="5" [rowspan]="4">
                                <mat-card>
                                    <mat-card-content>
                                        <table class="table-ben-infos">
                                            <tr>
                                                <td align="right" width="50%">
                                                    <span>Address :</span>
                                                </td>
                                                <td align="left" width="50%">
                                                    <span class="label-content">:&nbsp;Avenue Chazal 12, Brussels 1030</span>
                                                    <!-- <span class="label-content"><frontend-text-ellipsis>{{client.address}}</frontend-text-ellipsis></span> -->
                                                </td>
                                                <td width="5%"><span>&nbsp;</span></td>
                                            </tr>

                                            <tr>
                                                <td align="right" width="50%">
                                                    <span>Phone</span>&nbsp;:
                                                </td>
                                                <td align="left" width="50%">
                                                    <span class="label-content">{{ client.phone || "N/A" }}</span>
                                                </td>
                                                <td width="5%"><span>&nbsp;</span></td>
                                            </tr>

                                            <tr>
                                              <td align="right" width="50%">
                                                  <span>Mobile phone</span>&nbsp;:
                                              </td>
                                              <td align="left" width="50%">
                                                  <span class="label-content">{{ client.mobilePhone || "N/A" }}</span>
                                              </td>
                                              <td width="5%"><span>&nbsp;</span></td>
                                          </tr>

                                            <tr>
                                                <td align="right" width="50%">
                                                    <span>Email</span>&nbsp;:
                                                </td>
                                                <td align="left" width="50%">
                                                    <span class="label-content">{{ client.email || "Néant"}}</span>
                                                </td>
                                                <td width="5%"><span>&nbsp;</span></td>
                                            </tr>
                                        </table>

                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>

                <!--#6-->
                <mat-grid-tile [colspan]="7" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <p class="title-benef">REASON FOR INVOLVEMENT</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#8-->
                <mat-grid-tile [colspan]="7" [rowspan]="3">
                    <mat-card>
                      <mat-card-content>
                        <p>Parenting concerns and possible criminal exploitation.</p>
                    </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </div>

</div>
