<mat-toolbar>
  <span class="appName"><a [routerLink]="['home']"><img
    src="/assets/images/zekalogotext.png"
    alt="homepage" width="50"
    class="text-logo"/></a></span>

    <frontend-search-client></frontend-search-client>

  <button mat-button>
    <mat-icon style="color: rgb(179, 214, 243)">info</mat-icon>
  </button>

  <span class="example-spacer"></span>

  <ng-container *ngIf="{
      pos : position$ | async,
      benefId : benefId$ |  async
    } as apiData;">
    <button *ngIf="apiData.pos" [routerLink]="['/beneficiary',apiData.pos]" mat-icon-button
      class="example-icon favorite-icon " aria-label="Example icon-button with heart icon"
      matTooltip=" Dernier bénéficiaire">
      <mat-icon>sensor_occupied</mat-icon>
    </button>
    <button  (click)="add()" mat-icon-button class="example-icon favorite-icon "
    aria-label="Example icon-button with heart icon" matTooltip="Add new client">
    <mat-icon>person_add</mat-icon>
  </button>
    <button mat-icon-button class="example-icon favorite-icon "
      aria-label="Example icon-button with heart icon" matTooltip="My tracks">
      <mat-icon>folder_shared</mat-icon>
    </button>
    <button [routerLink]="['/jobs']" mat-icon-button class="example-icon favorite-icon "
      aria-label="Example icon-button with heart icon" matTooltip="Jobs management">
      <mat-icon>business</mat-icon>
    </button>
  </ng-container>

  <ng-container>
    <span class="separator">|</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="Admin area">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/admin']" mat-icon-button class="example-icon favorite-icon "
      aria-label="Example icon-button with heart icon">
      <mat-icon style="color: rgb(109, 170, 39)">settings</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
