<div *ngIf="beneficiary" class="container">
    <div class="card-style-identity card-style-identity-benef">
        <div class="title-bloc"> INFOS ISP </div>
        <mat-card-content class="isp-infos">
            <mat-grid-list cols="5" rowHeight="35px">
                <mat-grid-tile colspan="1" rowspan="2">
            <mat-icon class="mat-icon-person">person_pin</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="2">
                            <table class="table-ben-infos supports">
                                <tr>
                                    <th>Début aide ISP</th>
                                    <th>Fin aide ISP</th>
                                    <th>Consultant</th>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p>{{ (beneficiary.supportStartDate | date:'dd/MM/yyyy') || "-" }}</p>
                                    </td>
                                    <td align="center">
                                        <p>{{ (beneficiary.supportEndDate | date:'dd/MM/yyyy') || "-" }}</p>
                                    </td>
                                    <td align="center">
                                        <p>{{ beneficiary.supportReferentName || "-"}} {{beneficiary.supportReferentService || ""}}</p>
                                    </td>
                                </tr>
                            </table>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="2">
                  <div class="header-logo">
                    <a (click)="goToBeneficiaryLink(beneficiary.niss)" class="gipsy-button" matTooltip="Voir infos dans Gipsy">
                        <img
                          src="/assets/images/icon-gipsy-150px.jpg"
                          alt="homepage" width="50"
                          class="text-logo"/>
                    </a>
                  </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </div>
    <div class="card-style-identity">
        <mat-card-content>
            <mat-grid-list class="benef-infos" cols="12" rowHeight="30px" gutterSize="5px">
                <!--#1 INFOS BENEFICIAIRE-->
                <mat-grid-tile [colspan]="5" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <button class="button-refresh" mat-icon-button matTooltip="Actualiser les données du bénéficiaire">
                <!-- <mat-icon (click)="refresh(beneficiary.niss)" class="refresh-icon">refresh</mat-icon> -->
              </button>
                            <span class="example-spacer"></span>
                            <p class="title-benef">INFOS BENEFICIAIRE</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#2 DERNIERE FORMATION-->
                <mat-grid-tile [colspan]="7" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <p class="title-benef">DERNIERE FORMATION</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#3 INFOS BENEFICIAIRE-->
                <mat-grid-tile [colspan]="5" [rowspan]="5">
                    <mat-card>
                        <mat-card-content>
                            <table class="table-ben-infos">
                                <tr>
                                    <td align="right">
                                        <span>Nom</span> & <span>Prénom</span>&nbsp;:
                                    </td>
                                    <td align="left" width="100%">
                                        <span class="label-content"><frontend-text-ellipsis>{{ beneficiary.fullName }}</frontend-text-ellipsis></span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>
                                <!-- &nbsp;: -->
                                <tr>
                                    <td align="right" width="50%">
                                        <span>Niss</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ beneficiary.niss }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>N° dossier</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ beneficiary.referenceNumber }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>
                                <tr>
                                  <td align="right" width="50%">
                                      <span>N° IBIS</span>&nbsp;:
                                  </td>
                                  <td align="left" width="50%">
                                    <span [innerHTML]="beneficiary.ibisNumber" class="label-content"></span>
                                    <mat-icon class="nLanguage-icon" (click)="upsertIbisNumber(beneficiary.niss)">create</mat-icon>
                                </td>
                                  <td width="5%"><span>&nbsp;</span></td>
                              </tr>
                                <tr>
                                    <td align="right" width="50%">
                                        <span>As titulaire</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ beneficiary.socialWorkerName }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                            </table>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <!--#4-->
                <mat-grid-tile [colspan]="7" [rowspan]="5">
                    <mat-card>
                        <mat-card-content>
                            <table class="table-benf-formations">
                                <tr class="tr-benf-formations">
                                    <th class="tx-benf-formations">FORMATION</th>
                                    <th class="tx-benf-formations">RESULTAT</th>
                                    <th class="tx-benf-formations">DATE DEBUT</th>
                                    <th class="tx-benf-formations">DATE FIN</th>
                                </tr>
                                <tr class="tr-benf-formations">
                                    <td class="tx-benf-formations">{{beneficiary.lastFormationName | uppercase}}</td>
                                    <td class="tx-benf-formations">{{beneficiary.lastFormationResultName | uppercase}}</td>
                                    <td class="tx-benf-formations">{{(beneficiary.lastFormationStartDate | date:'dd/MM/yyyy') || "-" }}
                                    </td>
                                    <td class="tx-benf-formations">{{(beneficiary.lastFormationEndDate | date:'dd/MM/yyyy') || "-" }}</td>
                                </tr>
                            </table>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <!--#5-->
                <mat-grid-tile [colspan]="5" [rowspan]="5">
                    <mat-card>
                        <mat-card-content>
                            <table class="table-ben-infos">
                                <tr>
                                    <td align="right" width="50%">
                                        <span>Date de naissance</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ (beneficiary.birthDate | date:'dd/MM/yyyy') || "Néant"}}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Genre</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ beneficiary.gender }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Etat civil</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ beneficiary.civilStatus }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Langue maternelle</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span [innerHTML]="beneficiary.nativeLanguage" class="label-content"></span>
                                        <mat-icon class="nLanguage-icon" (click)="updateNativeLanguage(beneficiary.niss)">create</mat-icon>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>

                                <tr>
                                    <td align="right" width="50%">
                                        <span>Langue contact</span>&nbsp;:
                                    </td>
                                    <td align="left" width="50%">
                                        <span class="label-content">{{ beneficiary.contactLanguage }}</span>
                                    </td>
                                    <td width="5%"><span>&nbsp;</span></td>
                                </tr>
                            </table>

                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <!--#6-->
                <mat-grid-tile [colspan]="7" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <p class="title-benef">DERNIER EMPLOI</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#8-->
                <mat-grid-tile [colspan]="7" [rowspan]="4">
                  <mat-card>
                      <mat-card-content>
                          <table class="table-benf-formations">
                              <tr class="tr-benf-formations">
                                  <th class="tx-benf-formations">DATE DEBUT</th>
                                  <th class="tx-benf-formations">DATE FIN</th>
                                  <th class="tx-benf-formations">FONCTION</th>
                                  <th class="tx-benf-formations">ENTREPRISE</th>
                              </tr>
                              <tr class="tr-benf-formations">
                                <td class="tx-benf-formations">{{(beneficiary.lastJobExperienceStartDate | date:'dd/MM/yyyy') || "-" }}</td>
                                <td class="tx-benf-formations">{{(beneficiary.lastJobExperienceEndDate | date:'dd/MM/yyyy') || "-" }}</td>
                                  <td class="tx-benf-formations">{{(beneficiary.lastJobExperienceFunction | uppercase) || "-" }}</td>
                                  <td class="tx-benf-formations">{{(beneficiary.lastJobExperienceCompanyName | uppercase) || "-" }}</td>
                              </tr>
                          </table>
                      </mat-card-content>
                  </mat-card>
              </mat-grid-tile>

                              <!--#7-->
                              <mat-grid-tile [colspan]="5" [rowspan]="4">
                                <mat-card>
                                    <mat-card-content>
                                        <table class="table-ben-infos">
                                            <tr>
                                                <td align="right" width="50%">
                                                    <span>Adresse :</span>
                                                </td>
                                                <td align="left" width="50%">
                                                    <!-- <span class="label-content">:&nbsp;{{beneficiary.address || "Néant" }}</span> -->
                                                    <span class="label-content"><frontend-text-ellipsis>{{beneficiary.address}}</frontend-text-ellipsis></span>
                                                </td>
                                                <td width="5%"><span>&nbsp;</span></td>
                                            </tr>

                                            <tr>
                                                <td align="right" width="50%">
                                                    <span>Téléphone fixe</span>&nbsp;:
                                                </td>
                                                <td align="left" width="50%">
                                                    <span class="label-content">{{ beneficiary.phone || "Néant" }}</span>
                                                </td>
                                                <td width="5%"><span>&nbsp;</span></td>
                                            </tr>

                                            <tr>
                                              <td align="right" width="50%">
                                                  <span>Téléphone mobile</span>&nbsp;:
                                              </td>
                                              <td align="left" width="50%">
                                                  <span class="label-content">{{ beneficiary.mobilePhone || "Néant" }}</span>
                                              </td>
                                              <td width="5%"><span>&nbsp;</span></td>
                                          </tr>

                                            <tr>
                                                <td align="right" width="50%">
                                                    <span>Email</span>&nbsp;:
                                                </td>
                                                <td align="left" width="50%">
                                                    <span class="label-content">{{ beneficiary.email || "Néant"}}</span>
                                                </td>
                                                <td width="5%"><span>&nbsp;</span></td>
                                            </tr>
                                        </table>

                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>

                <!--#6-->
                <mat-grid-tile [colspan]="7" [rowspan]="1" class="grid-tile-style">
                    <mat-card-title>
                        <div class="title-bloc-benef">
                            <p class="title-benef">DERNIER PIIS SIGNE</p>
                        </div>
                    </mat-card-title>
                </mat-grid-tile>

                <!--#8-->
                <mat-grid-tile [colspan]="7" [rowspan]="3">
                    <mat-card>
                      <mat-card-content>
                        <table class="table-benf-formations">
                            <tr class="tr-benf-formations">
                                <th class="tx-benf-formations">TYPE PIIS</th>
                                <th class="tx-benf-formations">DATE DEBUT</th>
                                <th class="tx-benf-formations">DATE FIN</th>
                                <th class="tx-benf-formations">DATE CLOTURE</th>
                                <th class="tx-benf-formations">TS  TRAITANT</th>
                            </tr>
                            <tr class="tr-benf-formations">
                              <td class="tx-benf-formations">{{(beneficiary.contratPiis.libelle | uppercase) || "-" }}</td>
                              <td class="tx-benf-formations">{{(beneficiary.contratPiis.startDate | date:'dd/MM/yyyy') || "-" }}</td>
                              <td class="tx-benf-formations">{{(beneficiary.contratPiis.endDate | date:'dd/MM/yyyy') || "-" }}</td>
                              <td class="tx-benf-formations">{{(beneficiary.lastEvaluationDate | date:'dd/MM/yyyy') || "-" }}</td>
                              <td class="tx-benf-formations">{{(beneficiary.contratPiis.asTraitant | uppercase) || "-" }}</td>
                            </tr>
                        </table>
                    </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </div>

</div>
