.container,
.other {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

mat-card-header {
    background: rgba(71, 111, 36, 0.15);
    height: 50px;
}

.header-style {
    text-align: center;
    font-size: 10px;
}

.others-text {
    font-size: 18px;
}

.mat-grid-tile {
    vertical-align: middle;
    //border: solid 2px #000;
  }

mat-card-title {
  display: block;
  margin-bottom: 0px;
}
.mat-grid-tile-style {
    background: #4CAF50;
    color: white;
    margin: auto;
}

.card-style-identity {
    width: 99%;
    transition: none !important;
    box-shadow: none !important;
}

.card-style-identity-benef{
    margin-top: 20px;
}
.card-style-others {
    width: 25%;
    transition: none !important;
    box-shadow: none !important;
}

.title {
    //border: 1px solid black;
    font-weight: bold;
}

.mat-adresse {
    position: absolute;
    left: 2px;
}

.table-ben-infos {
  width: 100%;
  // margin-top: 15px;
}

.supports {
  margin-top: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-card {
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  background-color: rgb(240, 243, 243) !important;
  text-align: center;
}

span.label-content {
  font-weight: bold;
  color: #2a2c2a !important;
}

.mat-icon-person {
 font-size: 450%;
  color: #4CAF50;
  margin-top: 10px;
}

.mat-icon-bilan {
  font-size: 200%;
   color: #4CAF50;
 }

.span-image{
  border: black 1px solid;
  height: 100%;
  width: 30%;
}

.mat-icon {
  height: auto !important;
  width: auto !important;
}

.span-bilan{
  height: 100%;
  //width: 30%;
  --border: 1px solid black;
}
.mat-icon-arrow {
  font-size: 30px;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-refresh{
height: 20px;
}

.refresh-icon {
padding-bottom: 50px;
}
.brown-icon {
    color: rgb(73, 49, 23)
}

.title-bloc{
  color: white;
  //background: rgb(23, 90, 117);
  background: #4CAF50; /* Green */
  font-size: 20px;
  padding: 0.3%;
  text-align: center;
}
.title-bloc-benef {
  color: white;
  //background: rgb(23, 90, 117);
  //background: #4CAF50; __<<ngThemingMigrationEscapedComment1>>__
  font-size: 20px;
  padding: 0.3%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title-benef {
  margin : 0px 5px 0px 0px;
}
.isp-infos {
  //margin-top: 5px;
  //height: 80px;
  background-color: rgb(240, 243, 243) !important;
}

.nLanguage-icon {
  font-size: 20px;
  color: rgb(23, 90, 117)!important;
  margin-left: 10px;
}

.grid-tile-style {
  background: #4CAF50;
  margin-left: 0px;
}

.table-benf-formations {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 8px;
}

.tx-benf-formations{
  border-radius: 3px;
}

  .tr-benf-formations:nth-child(even) {
    background-color: #dddddd;
  }

.gipsy-button{
  text-decoration: underline;
  cursor: pointer;
}

  .lowercase{
font-size: 14px;
  }
