<div class="container mat-elevation-z0">
                  <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Schools">
                      <mat-card class="card-style ">
                          <mat-card-content>
                            <frontend-schools
                              (updateEvent)="updateSchool($event)"
                              (createEvent)="createSchool($event)"
                              (deleteEvent)="deleteSchool($event)">
                            </frontend-schools>
                          </mat-card-content>
                      </mat-card>
                  </mat-tab>
                  <mat-tab label="Course levels">
                    <mat-card class="card-style">
                        <mat-card-content>
                            <frontend-trainingtypes></frontend-trainingtypes>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                  <mat-tab label="Courses">
                    <mat-card class="card-style">
                        <mat-card-content>
                          <frontend-training-list></frontend-training-list>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                    <mat-tab label="Professions">
                      <mat-card class="card-style">
                          <mat-card-content>
                              <frontend-professions
                                (createEvent)="createProfession($event)"
                                (updateEvent)="updateProfession($event)"
                                (deleteEvent)="deleteProfession($event)">
                              </frontend-professions>
                          </mat-card-content>
                      </mat-card>
                  </mat-tab>
                  <mat-tab label="Partners">
                    <mat-card class="card-style">
                        <mat-card-content>
                            <frontend-partners
                              (createPartnerEvent)="persistPartner($event)"
                              (updatePartnerEvent)="updatePartner($event)"
                               (deletePartnerEvent)="deletePartner($event)"
                               (addDocumentEvent)="saveDocument($event)"
                               ></frontend-partners>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                    <mat-tab label="Staff members">
                      <mat-card class="card-style">
                          <mat-card-content>
                              <frontend-staffmembers (upserStaffMemberEvent)="persistStaffMember($event)" (deleteStaffMemberEvent)="deleteStaffMember($event)"></frontend-staffmembers>
                          </mat-card-content>
                      </mat-card>
                  </mat-tab>
                    <mat-tab label="Teams">
                        <mat-card class="card-style">
                            <mat-card-content>
                                <frontend-teams (upsertEvent)="persistteams($event)" (deleteEvent)="deleteteams($event)"></frontend-teams>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
